{% extends '_layouts/base.njk' %}

{% block content %}

<article class="container">

  <div class="row">
    <div class="col-sm-4 left-rail">
      {% block info %}
        <img src="../img/members/{{ member.image }}" alt="{{member.slug}}" class="img-fluid">

        <p class="bio">
        <b>Instruments:</b> {{member.instruments}}<br>
        <b>Tenure:</b> {{member.tenure}}<br>
        <b>Birthdate:</b> {{member.birthdate}}<br>
        <b>Birthplace:</b> {{member.birthplace}}<br>
        </p>

      {% endblock %}
    </div>
  
    <div class="col-sm-8">
      {% block story %}
        <h1>{{member.name}}</h1>
        {{member.text | safe}}

      {% endblock %}

    </div>
  </div>
</article>

{% endblock %}
