{% extends '_layouts/base.njk' %}

{% block page_title %}Band Overview{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-sm-10 offset-sm-1 col-md-5 offset-md-1">
      <h1>Overview</h1>
      <p>Source: </p>
      <p>
        Lucas ipsum dolor <a href="detail-page.html">link to detail-page.html</a> amidala sith dooku solo moff organa obi-wan windu. Gamorrean binks wedge darth. Mon darth mon kit ponda solo. Moff watto ackbar mothma moff anakin. Lando skywalker lars fett calrissian lars organa. Organa kenobi wedge darth jawa skywalker anakin. Twi'lek kit darth calamari lando kamino droid. Darth jawa fett grievous maul. Palpatine obi-wan leia tusken raider dagobah. Twi'lek qui-gon boba antilles yoda thrawn. Wampa luuke wampa skywalker. Moff ponda ackbar dagobah kit lobot jinn solo.
      </p>
    </div>

    <div class="col-sm-10 offset-sm-1 col-md-5">
      <h1>Band Members</h1>
      <div class="card-columns">
        {% for member in data.members %}
          <div class="card" style>
            <img class="card-img-top" src="../img/members/{{ member.imagebw }}" alt="{{member.slug}}">
            <div class="card-img-overlay">
              <h5 class="card-title">{{member.name}}</h5>
              <a href="{{ member.url }}" class="btn btn-dark">Read More</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h2>Discography</h2>
      <ul class="list-unstyled">
        {% for disc in data.discography%}
          <li class="media">
            <img class="mr-3 mb-3" src="../img/discs/{{ disc.image }}" alt="{{disc.title}}">
            <div class="media-body">
              <h5 class="mt-0 mb-1">{{disc.title}}</h5>
              <p>{{ disc.year }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
