.jumbotron.banner {
  // background: url(../img/queen-band-wallpaper.jpg) no-repeat center;
  // background-size: cover;
  // color: white;
  // padding-top: 12rem

}

.jumbotron {
  margin-bottom: 30px;
  background: url(../img/queen-band-wallpaper.jpg) no-repeat center;
  background-size: cover;
  padding-top: 10rem;
  color: white;
  text-shadow: #000000 5px 0 20px;
}

.jumbotron h1 {
  font-size: 8rem;
  font-family: 'Cormorant Garamond', serif;
}